<section>
	<header>
		<h1>Have a shot</h1>
	</header>
	
	<%= partial :have_a_shot, @sources %>		
</section>

<section>
	<header>
		<h1>Your latest shots</h1>
	</header>
	
	<%= partial :shots, @shots %>
</section>

<section>
	<header><h1>Stats</h1></header>
	
	<% if @stats[:last_shot] %>
	<p>You had your last <%= @stats[:source_to_track] || 'drink' %> <%= ago @user.last_shot.created_at %>.</p>
	<% end %>
	
	<%= partial :stats_mini, @stats %>
</section>