<header>
	<h1>@<%= @profile_user.username %></h1>
</header>

<section>
	<header><h1>Latest shots</h1></header>
	
	<%= partial :shots, @shots %>
</section>

<section>
	<header><h1>Stats</h1></header>
	
	<% if @stats[:last_shot] %>
	<p><strong>@<%= @profile_user.username %></strong> had a <%= @stats[:source_to_track] || 'drink' %> <%= ago @profile_user.last_shot.created_at %>.</p>
	<% end %>
	
	<%= partial :stats_mini, @stats %>
</section>